<%- include('header') %>
  <form method="GET" action="/cotacao">
    <input placeholder="Cotação do dólar" name="cotacao" value = "<%- cotacao %> "  required><br>
    <input placeholder="Quantidade de dólares" name="quantidade" required>
    <button>Converter</button>
  </form>
<%- include('footer') %>

